@import '../shared/shared-style.scss';
.header-wrapper{
    position: relative;
    width: 90%;
    height: 10%;
    display: flex;
    flex-direction: row;
    .mock-header{
        margin: 10px;
        flex-grow: 1;
        text-decoration: none;
        .header-image{
            position: relative;
            float: left;
            width: 72px;
            >img{
                height: 100%;
                width: 100%;
            }
        }
        .header-title{
            margin: 10px;
            color: $primary-blue;
            left: 0;
            position: relative;
            top: 25px;
        }
    }
} 
.toggle-wrapper{
    float: right;
    margin: 30px;
    >span{
        cursor: pointer;
        float: left;
        width: 12px;
        height: 17px;
        padding-left: 4px;
        margin: -5px 4px 0 4px;
        border-radius: 50%;
        font-size: 11px;
    }
    .blue-toggle{
        background-color: $secondary-blue;
        border: 1px solid $secondary-blue;
    }
    .white-toggle{
        border: 1px solid $primary-grey;
    }
    .theme-selected{
        border: 2px solid $primary-blue;
    }
}
.white-theme{
    --primary: red;
}
@media only screen and (max-width: 480px) {
    .toggle-wrapper{
        display: none;
    }
}