@import '../shared/shared-style.scss';
.carousel-container{
    width: 100%;
    height: 75%;
    left: 0;
}
.carousel-wrapper{
    display: flex;
    flex-direction: row;
    padding: 40px 60px 0 60px;
    height: calc(100% - 40px);
    width: calc(100% - 120px);
}
.carousel-image-wrapper{
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
}
.carousel-image-inline{
    display: flex;
    flex-direction: row;
    height: 90%;
    position: relative;
}
.carousel-image{
    height: 100%;
    width: 100%;
 }
.indicator-left{
    position: absolute;
    top: 50%;
    left: 50px;
}
.indicator-right{
    position: absolute;
    right: 20px;
    top: 50%;
}
.indicator-arrow{
    cursor: pointer;
    position: absolute;
    content: "";
    padding: 13px;
    box-shadow: 2px -2px 0 1px $white inset;
    border: solid transparent;
    transform: rotate(45deg);
    margin: -4px 0 0 -30px;
}
.right-arrow{
    transform: rotate(225deg);
}
.carousel-indicator-container{
    text-align: center;
}
.carousel-indicator-wrapper{
    position: relative;
    display: inline-flex;
    flex-direction: row;
}
.carousel-indicator{
    display: block;
    width: 6px;
    height: 6px;
    margin: 15px 5px;
    border-radius: 10px;
    background: $white;
}
.selected-indicator{
    background: $primary-blue;
}
.carousel-content-wrapper{
    position: relative;
    flex-grow: 1;
    background-color: $white;
    flex-basis: 0;
    margin-bottom: 38px;
    line-height: 1.54;
    text-align: left;
}
.carousel-content{
    margin: 15px 30px;
    display: flex;
    height: 82%;
    flex-direction: column;
    >h1{
        color: $primary-blue;
        flex-grow: 1;
        flex-basis: 0;
        margin: 0;
        font-weight: normal;
    }
    >p{
        flex-grow: 1;
        flex-basis: 0;
        color: $black;
    }
}
.read-more{
    flex-grow: 1;
    flex-basis: 0;
    color: $primary-blue;
    font-weight: bold;
    >a{
        font-size: 13px;
        color: inherit;
        >i{
            font-size: 11px;
            padding: 2px;
        }
    }
}
.blue-theme{
    background-color: $secondary-blue;
    border: 2px solid $secondary-blue;
    .carousel-indicator{
        border: 1px solid $secondary-blue;
    }
}
.white-theme{
    background-color: $white;
    border: 2px solid $primary-grey;
    .carousel-indicator{
        border: 1px solid $primary-grey;
    }
}
@media only screen and (max-width: 480px) {
    .carousel-container{
        height: 95%;
        background-color:$white;
        border: none;
    }
    .carousel-wrapper{
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 0;
    }
    .carousel-image-wrapper{
        flex-basis: auto;
    }
    .carousel-content-wrapper{
        flex-basis: auto;
    }
    .blue-theme {
        .carousel-indicator{
            border: 1px solid $primary-grey;
        }
    }
}