<div id="carousel" class="carousel-container">
    <div class="carousel-wrapper">
      <div class="carousel-image-wrapper">
        <div class="carousel-image-inline">
          <img class="carousel-image" src="{{currentSelection.src}}">
          <div class="indicator-wrapper">
              <div class="indicator-left">
                  <i class="fa fa-chevron-left indicator-arrow" (click)="showNext(false)"></i>
                </div>
              <div class="indicator-right">
                <i class="fa fa-chevron-right indicator-arrow" (click)="showNext(true)"></i>
              </div>
          </div>
        </div>
        <div class="carousel-indicator-container">
          <div class="carousel-indicator-wrapper">
              <span *ngFor="let item of carouselDataList" [class.selected-indicator]="item.src===currentSelection.src" class="carousel-indicator"></span>
          </div>
        </div>
      </div>
      <div class="carousel-content-wrapper">
        <div class="carousel-content">
          <h1>{{currentSelection.title}}</h1>
          <p>{{currentSelection.description}}</p>
          <div class="read-more">
            <a href="#">Read more<i class="fa fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>
</div>