@import '../shared/shared-style.scss';
.home-container{
    display: flex;
    flex-direction: column;
    height: 98%;
    >h2{
        color: $primary-blue;
        font-weight: normal;
        font-size: 30px;
        margin: 15px 10px;
    }
}