.home-container{
    display: flex;
    flex-direction: column;
    height: 98%;
    margin-top: 70px;
    >h2{
        color: #0780b1;
        font-weight: normal;
        font-size: 30px;
        margin: 15px 10px;
    }
}